/* TYPOGRAPHY */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;600;700&display=swap');
* {
    outline: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}

p, a {
    font-family: 'Montserrat', sans-serif;
}

.row {
    --bs-gutter-x: 0;
}

body {
    min-height: 100vh;
}

@media screen and (min-width:1200px)
{.lni-64 {
    font-size: 64px;
}}

@media screen and (max-width:1200px)
{.lni-64 {
    font-size: 32px;
}}

/* REVIEWS */
.review {
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    border-bottom: 1px solid #e9ecef;
}

/* LINKS */

a {
    color: #515151;
}

a:hover {
    color: #383838;
}

/* TEXT COLOR */

.text-brand-blue {
    color: #4ABDED;
}

.text-brand-yellow {
    color: #f3cf12;
}

.text-brand-red {
    color: #FD0E35;
}

/* BACKGROUND COLORS */

.bg-white-overlay {
    background-color: rgba(255, 255, 255, 0.8);
}

.bg-light-grey {
    background-color: #f5f5f5;
}

.bg-overlay-white {
    background-color: rgba(255, 255, 255, .75);
}

.bg-brand-blue {
    background-color: #4ABDED;
}

.bg-yellow-tynkle {
    background-color: #f3cf12;
}

/* BACKGROUND IMAGES */

.bg-background, .bg-computer, .bg-problem, .bg-community {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .5s ease-in-out;
}

.bg-community {
    background-image: url(https://images.pexels.com/photos/4021803/pexels-photo-4021803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

.bg-computer {
    background-image: url(https://images.pexels.com/photos/257923/pexels-photo-257923.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.bg-problem {
    background-image: url(https://images.pexels.com/photos/3760607/pexels-photo-3760607.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

/* EXTENDED DISPLAY */

.display-6 {
    font-size: 1.5rem;
}

/* BUTTONS */


.btn-red-crayola {
    background-color: #FD0E35;
    color: #FFF;
}

.btn-outline-red-crayola {
    border: 2px solid #FD0E35;
    color: #FD0E35;
}

.btn-brand.active {
    background-color: #373a3c;
    color: #f3cf12;
}

.btn-brand-blue {
    background-color: #4ABDED;
    color: #FFF;
}

.btn-yellow-tynkle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    min-height: 3.5rem;
    background-color: #F3CF12;
    color: #000;
}

/* FORM CHECK */

.form-check-input[type="checkbox"]:checked {
    background-image: none;
    background-color: #373a3c;
}

.form-check-input:checked {
    border-color: #373a3c;
}

/* NAVBAR */

.navbar {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(0, 0, 0);
}

/* FOOTER */

footer {
    position: relative;
    z-index: 1;
}

footer * {
    color: white;
    text-align: left;
}

footer a {
    color: #cccccc;
}

footer a:hover {
    color: #FFF;
}

footer ul {
    list-style-type: none;
}

/* CARD COLUMNS */

.card-columns {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
        -webkit-column-count: 1;
        -moz-column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
        -webkit-column-count: 3;
        -moz-column-count: 3;
    }
}

.card-columns .card {
    display: inline-block;
    width: 100%;
}

/* CARDS  */

.card-publication {
    cursor: pointer;
    opacity: 1;
    filter: grayscale(100%);
}

.card-publication.active {
    filter: grayscale(0%);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
}


/* ALERTS */

.alert {
    top: 4rem;
    z-index: 500000;
    display: flex;
}

/* RATER JS */

.rating * {
    font-size: 2rem;
}

.rate {
    font-size: 4rem;
}

.rate-select-layer span {
    color: orange;
}

.rate-base-layer {
    color: #aaa;
}

.rate-hover-layer {
    color: orange;
}

/* MODAL */

.modal {
    z-index: 1000000;
}

/* AVATAR */


@media screen and (min-width:1200px)
{
    .avatar{
        width: 8rem;
        height: 8rem;
    }
}

@media screen and (max-width:1200px)
{
    .avatar{
        width: 4rem;
        height: 4rem;
    }
}


.avatar img{
    height: 100%;
    width: 100%;
}

.avatar a{
    font-weight: bold;
}
.avatar a:hover{
    text-decoration: underline;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    text-align: center;
    border: #dee2e6;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 1rem rgb(0 0 0 / 15%);
    line-height: 3rem;
}

/* ANCHOR */

.anchor {
    padding-top: 5rem;
}

/* BOUNCER ERRORS */

.error-message {
    color: #FD0E35;
}

input.error {
    border: 1px solid #FD0E35;
}

/* PADDING UTILITIES */

.p-6 {
    padding: 3.5rem;
}

/* LIGHTGALLERY */

#lightgallery {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
}

#lightgallery li {
    margin-top: 2rem;
}

@media screen and (min-width:1200px) {
    #lightgallery .demo-gallery-poster img {
        height: 18rem;
        width: 18rem;
    }
}

@media screen and (max-width:1200px) {
    #lightgallery .demo-gallery-poster img {
        height: 18rem;
        width: 100%;
    }
}

/* AUTOCOMPLETE */

#autocomplete-menu {
    position: absolute;
    box-shadow: rgb(201, 211, 223) 0px 1px 4px;
    z-index: 1;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(173, 185, 201);
    color: rgb(28, 28, 28);
    border-radius: 0px 0px 5px 5px;
    top: 4rem;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 10rem;
}

#autocomplete-menu .item {
    display: flex;
    flex-flow: row nowrap;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
}

#autocomplete-menu .item:hover {
    background-color: #1266f1;
    color: rgb(255, 255, 255);
}

.form-group {
    position: relative;
}


