body {
  min-height: 100vh;
}

.bg-white-overlay{
    background-color: rgba(255,255,255,.80);
}


@media screen and (min-width: 992px) {
  #sign-container {
    min-height: 75vh;
  }
}

@media screen and (max-width: 992px) {
    #sign-container {
      min-height: 100vh;
    }
  }
