#avatar{
    height: 10rem;
    width:10rem;
    padding:1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#avatar img{
    height: 100%;
    width: 100%;
}

#avatar a{
    font-weight: bold;
}
#avatar a:hover{
    text-decoration: underline;
}