/* .card-chat:hover {
  background-color: #F4F4F4;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  #new-message-container {
      height: 25vh;
  }
  #current-chat-container {
      height: 65vh;
  }
}

@media screen and (min-width: 992px) {
  #new-message-container {
      height: 15vh;
  }
  #current-chat-container {
      height: 75vh;
  }
} */

.row{
  --bs-gutter-x: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  width: 5px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: #ddd;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 0.9rem;
}

.rounded-lg {
  border-radius: 0.5rem;
}

input::placeholder {
  font-size: 0.9rem;
  color: #999;
}

.media.recipient{
  align-self: flex-start;
}
.media.sender{
  align-self: flex-end;
}
