main {
  margin-top: 4rem;
  position: relative;
}

nav.submenu {
  background-color: rgba(55, 58, 60, 1);
  min-height: 3.5rem;
  position: fixed;
  width: 100%;
  top: 4rem;
  z-index: 1000;
  align-items: center;
}

nav.submenu a.nav-link {
  color: #FFF;
}

#value-proposition {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

#value-proposition {
  background-image: url(https://images.pexels.com/photos/6147220/pexels-photo-6147220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgba(255,255,255,.75);
  min-height: 125vh;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

section:nth-child(2){
  padding-top: 0;
  padding-bottom: 0;
  min-height: 100vh;
}

.wave-separator {
  position: absolute;
  bottom: -.25rem;
  left: 0;
  fill: rgba(255, 255, 255);
  width: 100%;
  fill-opacity: .75;
}

.icon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: .5rem solid #36b9cc;
}


.icon-card p {
  text-align: center;
}

.icon-circle {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color: #F3CF12;
  display: flex;
  align-items: center;
  justify-content: center;
}


.bg-repair {
  background-image: url(../../img/commons/repair.svg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.lni-64 {
  font-size: 64px;
}

.submenu .nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  width: auto;
}

.submenu a{
  color: #FFF;
  font-size: .75rem;
}

.submenu .nav-item:hover {
  background-color: #F3CF12;
}

.submenu .nav-item:hover * {
  color: #373A3C;
}

.submenu {
  position: fixed;
  justify-content: space-evenly;
  top: 4rem;
  left: 0;
  z-index: 1100;
  height: 95vh;
  background-color: #373A3C;
  height: 6rem;
}