.dropzone {
    opacity: 0;
}

.dropzone-layer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 2rem;
    top: 0;
    height: 25vh;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dropzone-group {
    position: relative;
    height: 25vh;
    border-width: 3px;
    border-style: dashed;
    border-color: #515151;
    background-color: #FFF;
}